*{
    margin: 5px;
    padding:5px;
  }

  .header {
    padding: 10px;
    text-align: center;
    background: #13d0f1;
    color: white;
    font-size: 15px;
  }
  
  .field-name {
      text-align: center;

  }

  .input {
      text-align: center;
  }

  .nameContainer {
      text-align: left;

  }

  .game-area1-Container {
        height: 50%;
        width: 50%;
        display: absolute;
        background-position: center;
    }


  .game-area2-Container {
      display: absolute;
      text-align: right;
      
}

.plant-Images {
    text-align: center;
    display: flex;
    justify-content: center;
      
}

#hungry {
    display: flex;
    margin-right: 100%

}

#sunlight {
    object-position: right;
    
}

#input-name {
    position: center;
    top: 10%;
    left: 10%;
    height: 30px;
    width: 150px;
    background-color: rgb(100, 233, 243);
    border-radius: 5px;
}
.container{
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;

}
.input-button {
      
}
#span-health {
    
}
.gameOver-box {
    

}

.gameOver {
      
}
